// //////////////
//This file includes mixins, resets etc.
// //////////////
@import 'editor';

// //////////////
// fonts family
// //////////////
$open: 'Open Sans', sans-serif;

// //////////////
// colors
// //////////////
$blue: #001764;
$dark-blue: #04284e;
$light-blue: #9bb8d6;
$sky: #00c0f3;
$light-grey: #8d9194;
$grey: #706f6f;
$dark-grey: #363636;
$light-grey-2: #acafb1;
$border: #e8eaea;
$light-bg: #f8faf9;

.light-bg{
	background-color: $light-bg;
}
.inset-top-shadow{
-webkit-box-shadow: inset 0px 5px 12px -8px rgba(0,0,0,0.51);
   -moz-box-shadow: inset 0px 5px 12px -8px rgba(0,0,0,0.51);
	    box-shadow: inset 0px 5px 12px -8px rgba(0,0,0,0.51);
}

// body font size, color, font family
body{
	color: $dark-grey;
	font-family: $open;
	font-size: 14px;
	position: relative;
	&:before{
		content: "";
		display: block;
		width: 100%;
		
	}
	@include fixed-header-height(88px);
	&.customize-support{
		.header{
			top: 32px;
		}
	}
}

//container: max width
.container{
	max-width: 1140+30px;
}

// anchor: color, hover
a{
	color: $dark-grey;
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}


@include body-smooth($dark-blue, transparent);

header{	
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #FFF;
	z-index: 9;
	@include transition(.3);
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
	        box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}
.header{
	position: fixed;
	top: 0;
	z-index: 3;
}
.logo{
	width: 166px;
	float: left;
	@include transition(.3);
	img{
		float: left;
	}
}
nav{
	ul{
		list-style: none;
	}
	a{
		font-weight: 700;
		color: $dark-blue;
	}
}
.header-transition{
	@include transition(.5);
}
.desktop-menu{
	width: 1140-166px;
	float: right;
	> nav{
		padding-top: 20px;
		max-width: 775px;
		padding-right: 25px;
		@include transition(.3);
			> div ul{
				float: right;
				width: auto;
				margin: 0;
				padding: 0;
				> .menu-item-has-children{
					> .sub-menu{
						padding-top: 32px;
						> li:first-of-type{
							border-top: 2px solid $sky;
						}
					}
				}
				> li{
					float: left;
					width: auto;
					padding-right: 15px;
					&:last-child{
						padding-right: 0;
					}
					&.current-menu-item, &.current-menu-ancestor{
						> a{
							&:after{
								width: 70%;
							}
						}
					}
					> a{
						position: relative;
						&:after{
							display: inline-block;
							content: "";
							height: 2px;
							width: 0;
							position: relative;
							bottom: 8px;
							background-color: $sky;
							@include transition(.3);
						}
					}
					&:hover{
							a:after{
								width: 70%;
							}
						}
				}
			}
	}
	a{
		display: block;
		@include transition(.2);
		font-size: 14px;
		text-transform: uppercase;
		text-align: center;
		width: 100%;
		font-weight: 700;
		cursor: pointer;
		text-decoration: none;
	}
	.sub-menu{
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		padding: 0;
		min-width: 160px;
		text-align: left;
		li{
			width: 100%;
			padding-top: 10px;
			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 10px;
			background-color: $dark-blue;
			&:last-child{
				border-bottom: none;
				padding-bottom: 20px;
			}
			&:first-child{
				padding-top: 20px;
			}
			a{
				text-align: left;
				font-weight: 700;
				text-transform: none;
				color: $light-blue;
				&:hover{
					color: white;
				}
			}
			&.current-menu-item{
				a{
				&:after{
							width: 70%;
						}
				}
			}
		}
	}
	.menu-item-has-children{
		position: relative;
		&:hover{
			a:after{
				width: 0;
			}
			> .sub-menu{
				display: block;
			}
		}
		.menu-item-has-children{
			> .sub-menu{
				left: 100%;
				top: 0;
			}
			&:hover{
				> .sub-menu{
					display: block;
				}
			}
		}
	}//end of menu-item-has-children
}//end of desktop-menu

.login{
	float: left;
	width: 157px;
	margin-top: 10px;
	@include transition(.3);
	a{
		color: $dark-blue;
		border: 1px solid $dark-blue;
		padding: 8px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		@include transition(.3);
		&:hover{
			border-color: $sky;
		}
	}
}
.search{
	float: left;
	width: 40px;
	margin-top: 17px;
	padding-left: 25px;
	color: $dark-blue;
	cursor: pointer;
	@include transition(.3);
	.fa{
		@include transition(0.2);
	}
	&:hover{
		.fa{
			font-size: 18px;
			color: $sky;
		}
	}
}

// //////////////
// Banners
// //////////////
@mixin home-banner-height($height){
	min-height: $height;
	.swiper-slide{
		height: $height;
	}
	.home-page-menu{
		height: $height;
	}
}
.home-banner{
	@include home-banner-height(396px);
	position: relative;
	.container{
		height: 100%;
		position: relative;
		h1{
			color: #FFF;
		}
	}
	.swiper-slide{
		background-repeat: no-repeat;
		-webkit-background-size: 63%;
		     -o-background-size: 63%;
		        background-size: 63%;
		    // background-position: 0;
	}
}
.slider-content{
	max-width: 63%;
	position: absolute;
	bottom: 20px;
	left: 15px;
}
h1{
	font-size: 42px;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 0.5px;
	margin-bottom: 20px;
	line-height: 1.2;
}
.blue-shadow{
	width: 100%;
	height: 100%;
	float: left;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00c0f3+11,7db9e8+100&1+0,0+50 */
background: -moz-linear-gradient(45deg,  rgba(0,192,243,1) 0%, rgba(0,192,243,0.78) 11%, rgba(55,189,238,0) 50%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(0,192,243,1) 0%,rgba(0,192,243,0.78) 11%,rgba(55,189,238,0) 50%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(0,192,243,1) 0%,rgba(0,192,243,0.78) 11%,rgba(55,189,238,0) 50%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c0f3', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.home-slider{
	height: 100%;
}
.home-page-menu{
	width: 37%;
	float: left;
	height: 100%;
	position: absolute;
	right: 0;
	z-index: 2;
	top: 0;
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		height: 100%;
	}
	li{
		height: 25%;
		width: 100%;
	    border-bottom: 1px solid #cecece;
		display: table;
		&:first-child{
			border-top: none;
		}
		a{
			height: 100%;
			width: 100%;
			padding-left: 30px;
			padding-right: 20px;
			display: table-cell;
			background-color: white;
			vertical-align: middle;
			@include transition(.3);
			&:hover{
				background-color: $sky;
				span{
					color: white;
				}
				.menu-icon{
					img{
						&:nth-of-type(1){
							-webkit-transform: translate3d(0,-60px,0);
							   -moz-transform: translate3d(0,-60px,0);
							    -ms-transform: translate3d(0,-60px,0);
							     -o-transform: translate3d(0,-60px,0);
							        transform: translate3d(0,-60px,0);
						}
						&:nth-of-type(2){
							-webkit-transform: translate3d(0,-60px,0);
							-moz-transform: translate3d(0,-60px,0);
							-ms-transform: translate3d(0,-60px,0);
							-o-transform: translate3d(0,-60px,0);
							transform: translate3d(0,-60px,0);
						}
					}
				}
			}
		}
		.menu-icon{
			float: left;
			width: 60px;
			height: 60px;
			overflow: hidden;
			@include transition(.3);
			img{
				width: 100%;
				@include transition(.3);
			}
		}
		span{
			float: left;
			width: 70%;
			color: $dark-blue;
			font-weight: 800;
			font-size: 19px;
			padding-top: 18px;
			padding-left: 53px;
			@include transition(.3);
		}
	}

}
.banner{
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	    background-position: center;
}
.common-p-t-b{
	padding-top: 35px;
	padding-bottom: 35px;	
}
// //////////////
// Section 2: Events
// //////////////
.section-2{
	@extend .common-p-t-b;
	h2{
		text-align: center;
		float: left;
		width: 100%;
	}
	.col-3{
		-webkit-border-radius: 4px;
		        border-radius: 4px;
		-webkit-box-shadow: 1px 1px 7px #ccc;
		        box-shadow: 1px 1px 7px #ccc;
		    @include transition(.3);
		    overflow: hidden;
		    &:hover{
		    	-webkit-box-shadow: 1px 1px 30px #ccc;
		    	        box-shadow: 1px 1px 30px #ccc;
		        .section-2-content{
		        	-webkit-transform: translate3d(0, 0px, 0);
		        	   -moz-transform: translate3d(0, 0px, 0);
		        	    -ms-transform: translate3d(0, 0px, 0);
		        	     -o-transform: translate3d(0, 0px, 0);
		        	        transform: translate3d(0, 0px, 0);
		        }

		    }
	}
}
.col-3{
		@include col-3(2.5%);
	}
h2{
	color: $light-grey;
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 35px;
}
.section-2-content{
	float: left;
	width: 100%;
	background-color: white;
	@include transition(.3);
	margin-top: -59px;
	-webkit-transform: translate3d(0, 59px, 0);
	   -moz-transform: translate3d(0, 59px, 0);
	    -ms-transform: translate3d(0, 59px, 0);
	     -o-transform: translate3d(0, 59px, 0);
	        transform: translate3d(0, 59px, 0);
}
.section-2-image{
	height: 240px;
	background-repeat: no-repeat;
	background-position: center;
}

// //////////////
// Swiper-2 for sponsors | Associations
// //////////////
 .swiper-container-2{
        display: table-cell;
        vertical-align: middle;
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
}
.date{
	float: right;
    margin-top: 20px;
    margin-right: 20px;
    background-color: $blue;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 8px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
}
.provider{
	width: 100%;
	float: left;
	min-height: 70px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid $border;
}
.provider-logo{
	height: 60px;
	width: 24%;
	float: left;
	background-repeat: no-repeat;
	-webkit-background-size: 70%;
	     -o-background-size: 70%;
	        background-size: 70%;
	background-position: 100%;
}
.provider-title{
	float: left;
	width: 76%;
	h3{
		margin: 0;
		padding: 17px;
	}
}
h3{
	font-size: 14px;
	font-weight: 600;
	color: $grey;
}
.section-2-title{
	float: left;
	width: 100%;
	padding: 20px;
	min-height: 131px;
}
.section-2-link{
	float: left;
	width: 100%;
	text-align: center;
	color: $sky;
	text-transform: uppercase;
	font-weight: bold;
	padding: 20px;
	@include transition(.3);
	.fa{
		margin-left: 5px;
		font-size: 16px;
		font-weight: 800;
	}
}
h4{
	color: $blue;
	font-size: 16px;
}
.more{
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	display: block;
	font-size: 14px;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
	@include background-color-light($dark-blue);
}

.but-col-3{
	max-width: 31.73%;
	margin: auto;
	padding: 8px;
}
.but-2-col-3{
	width: 31.73%;
	margin: auto;
	padding: 8px;
}
.but-full{
	float: left;
	width: 100%;
	padding: 8px;
}
.but-left{
	float: left;
	width: 100%;
	max-width: 33%;
	padding: 8px;
	min-width: 110px;
}
button{
	font-weight: 600;
}
.sky{
	@include background-color($sky);
}
@mixin news($height){
	min-height: $height;
	.news-image, .news-content{
		height: $height;
	}
}
.news{
	list-style: none;
	padding: 0;
	margin: 0 0 30px;
	float: left;
	width: 100%;
	li{
		float: left;
		width: 100%;
		@include news(105px);
		&:not(:first-child){
			border-top: 1px solid $border;
		}
	}
	a{
    	float: left;
    	width: 100%;
    	@include transition(.3);
    	&:hover{
			background-color: $sky;
			h4, span{
				color: white!important;
			}
    	}
    }
	.news-image{
		width: 21.96%;//remember change news-content width
		float: left;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		background-position: 0;
	}
	.news-content{
		width: 100%-21.96%;
		height: 100%;
		float: left;
		display: table;
		padding-left: 30px;
		padding-right: 30px;
		span{
			margin-bottom: 7px;
			display: block;
		}
		h4{
			margin-bottom: 0;
			line-height: 1.2;
		}
		&, h4, span{
			@include transition(.3);
		}
	}
}
.section-3{
	@include two-oneThird(31.671%, 2.4%);
	@extend .common-p-t-b;
	.two-third{
		.news{
			-webkit-box-shadow: 0px 0px 7px #ccc;
		        box-shadow: 0px 0px 7px #ccc;
		}
	}
	.one-third{
		&:hover{
			text-decoration: none;
		}
	}
}
.scale-bg{
	.row{
		overflow: hidden;	
	}
	img{
		@include transition(.3);
	}
	&:hover{
		img{
			-webkit-transform: scale(1.1);
			   -moz-transform: scale(1.1);
			    -ms-transform: scale(1.1);
			     -o-transform: scale(1.1);
			        transform: scale(1.1);
		}	
	}
}
.section-4{
	position: relative;
	top: 61px;
	margin-top: -31px;
	.section-4-container{
		background-color: white;
		overflow: hidden;
	-webkit-box-shadow: 0 0 7px #ccc;
	        box-shadow: 0 0 7px #ccc;
		    position: relative;
		    -webkit-border-radius: 4px;
		            border-radius: 4px;
	}
}
.section-4-wrapper{
	    height: 115px;
	    display: table;
	    float: left;
	    width: 100%;
	    padding-left: 35px;
	    padding-right: 35px;
	    background-color: white;
}
.section-4-image{
	float: left;
	width: 100%;
	height: 100%;
	height: 55px;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
	background-position: center;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
	@include transition(.3);
	&:hover{
		-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    		filter: grayscale(0%);
	}
}
.swiper-button{
	position: absolute;
	top: 39px;
	z-index: 2;
	height: 35px;
	width: 35px;
	cursor: pointer;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	border: 2.5px solid $dark-blue;
	color: $dark-blue;
	background-color: white;
	@include transition(.3);
	&:after{
		@include transition(.3);
	    position: absolute;
	    top: 6px;
	    left: 8.7px;
	    font-family: FontAwesome;
	    display: block;
	    font-size: 16px;
	}
	&.swiper-button-disabled{
		border-color: $light-blue;
		color: $light-blue;
		cursor: default;
	}
	&:hover:not(.swiper-button-disabled){
		height: 40px;
		width: 40px;
		&:after{
			font-size: 22px;
		}
	}
}
.swiper-button-prev-2{
	left: 13px;
	&:after{
		content: "\f060";
	}
}
.swiper-button-next-2{
	right: 13px;
	&:after{
		content: "\f061";
	}
}

// //////////////
// Footer
// //////////////
footer{
	padding-top: 80px;
	padding-bottom: 60px;
	background-color: $dark-blue;	
	display: table;
	color: white;
	@include two-oneThird(27.632%, 0);
	span{
		display: block;
		color: $light-blue;
		float: left;
		width: 100%;
		font-size: 14px;
	}
	.col-2{
		@include col-2(0%);
	}
	a{
		color: white;
	}
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li{
		margin-bottom: 5px;
	}
}
.footer-widget{
	li{
		width: 100%;
		float: left;
	}
}
.footer-menu{
	a{
		text-transform: uppercase;
	}
}//footer
.site-map{
	list-style-type: none;
	padding: 0;
	margin: 0;
	float: left;
	width: 100%;
	li{
		float: left;
		width: auto;
		margin-right: 15.9px;
		&:last-of-type{
			margin-right: 0;
		}
	}
	a{
		color: $light-blue;
		display: block;
		font-size: 14px;
		@include transition(.3);
		&:hover{
			color: white;
			text-decoration: none;
		}
	}
}//site-map
.social{
	float: left;
	width: 100%;
	list-style-type: none;
	padding: 0;
	margin: 0 0 35px;
	li{
		float: left;
		width: auto;
		margin-right: 35px;
		text-align: right;
		&:last-of-type{
			margin-right: 0;
		}
		a{
			display: block;
			@include transition(.3);
			.fa{
				color: white;
				font-size: 35px;
				@include transition(.3);
			}
			&:hover{
				text-decoration: none;
				.fa{
					color: $sky;
				}
				// .fa-facebook-official{
				// 	color: #3b5998;
				// }
				// .fa-linkedin-square{
				// 	color: #0077B5;
				// }
				// .fa-twitter{
				// 	color: #0084b4;
				// }
				// .fa-google-plus{
				// 	color: #d34836;
				// }
				// .fa-youtube-play{
				// 	color: #b31217;
				// }
			}
		}
	}
}//social

.toggle-form{
	display: none;
	background-color: white;
}
.search-form{	
	@include placeholder($light-blue);
	padding: 40px 0 12px;
	outline: none;
	input{
		border: none;
		background-color: $dark-blue;
		@include placeholder($light-blue);
		width: 100%;
		margin-right: 5%;
	    padding: 15px;
	    font-weight: 300;
	    font-size: 14px;
	    color: $light-blue;
	    -webkit-border-radius: 2px;
	    border-radius: 2px;
	    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.7) inset;
	    box-shadow: 0 1px 3px rgba(0,0,0,0.7) inset;
	    border-bottom: 1px solid $dark-blue;
	    letter-spacing: 1px;
	    word-spacing: 1px;
	    margin: 0;
	    float: left;
	    outline: none;
	}
	summary{
		float: left;
		width: 100%;
		text-align: center;
		font-size: 13px;
		padding: 1% 0 0;
		font-style: italic;
		color: $dark-blue;
	}
}


// //////////////
// Filters
// //////////////
.filters{
	list-style: none;
	margin: 0 0 45px;
	padding: 25px 35px;
	background-color: $sky;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: 0 0 7px #ccc;
	        box-shadow: 0 0 7px #ccc;
	li{
		float: left;
		width: 20.1%;	
		margin-right: 20px;
		text-align: center;
		-webkit-border-radius: 3px;
		        border-radius: 3px;
		background-color: white;
		position: relative;
			&:after{
				position: absolute;
				content: "\f107";
				right: 11px;
				top: 9px;
				color: $dark-blue;
				font-family: FontAwesome;
				font-size: 32px;
				z-index: 0;
			}
		&:last-of-type{
			margin-right: 0;
			width: 12%;
			&:after{
				display: none;
			}
		}
	}
	select{
		font-size: 16px;
		color: $dark-blue;
		float: left;
		width: 100%;
		padding: 14px 14px 14px 20px;
		// height: 45px;
		border: none;
		font-weight: 600;
		position: relative;
		z-index: 1;
		background-color: transparent;
		-webkit-appearance: none;
		   -moz-appearance: none;
		        appearance: none;
		&::-ms-expand{
			display: none;
		}
		option{
			float: left;
			width: 100%;
		}

	}
	input[type='submit']{
		border: none;
		font-size: 14px;
		padding: 14px;
		width: 100%;
		height: 100%;
		cursor: pointer;
		-webkit-border-radius: 3px;
		        border-radius: 3px;
	}
}//filters


// //////////////
// On Scrolled
// //////////////
.on-scrolled{
	@include fixed-header-height(60px);
	header{
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.logo{
		width: 133px;
	}
	.desktop-menu{
		> nav{
			padding-top: 13px;
		}
	}
	.login{
		margin-top: 4px;
	}
	.search{
		margin-top: 12px;
	}
}
.custom-page{
	.bread-crumb{
		margin-bottom: 30px;
	}
}
ul.bread-crumb{
	list-style: none;
	margin: 0;
	padding: 0!important;
	color: $light-grey-2;
	li{
		float: left;
		margin-right: 10px;
		text-transform: uppercase;
		font-size: 14px;
		position: relative;
		&:not(:first-of-type){
			padding-left: 20px;
			&:before{
				position: absolute;
				left: 0;
				top: 3px;
				content: "\f061";
				font-family: FontAwesome;
				display: block;
			}
		}
		&:last-of-type{
			margin-right: 0;
		}
		&.active{
			a{
				font-weight: bold;
			}
		}
	}
	.fa{
		margin-right: 10px;
		// color: $border;
	}
	a{
		color: $light-grey;
	}
}
.inner-page{
	padding: 35px 0;
	@include two-oneThird(31.671%, 0);
	h1{
		font-size: 28px;
		color: $blue;
	}
	.page-menu{
		padding-left: 20px;
		margin: 0;
		li{
			margin-bottom: 19px;
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}
	.two-third{
		padding-right: 60px;
	}
	.one-third{
		border-left: 1px solid $border;
		padding-left: 5%;
		ul{
			list-style: none;
			padding: 0;
			a{
				h4{
					color: $dark-blue;
				}
			}
		}
	}
	.news{
		border-top: 1px solid $border;
		border-right: 1px solid $border;
		border-bottom: 1px solid $border;
		li{
			@include news(80px);
		}
		.news-image{
			width: 23.96%;
		}
		.news-content{
			width: 100%-23.96%;
			padding-right: 10px;
			span{
				font-size: 13px;
			}
			h4{
				font-size: 15px;
				color: $dark-blue;
			}
		}
	}
}
.with-sidebar{
	width: 66%;
	padding-right: 60px;
	float: left;
}
.sidebar{
	width: 34%;
	float: left;
	ul{
		padding: 0;
		margin: 0;
		li{
			margin-bottom: 19px;
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}
	border-left: 1px solid $border;
	padding-left: 5%;
	ul{
		list-style: none;
		padding: 0;
		a{
			h4{
				color: $dark-blue;
			}
		}
	}
	.news{
		border-top: 1px solid $border;
		border-right: 1px solid $border;
		border-bottom: 1px solid $border;
		li{
			@include news(80px);
		}
		.news-image{
			width: 23.96%;
		}
		.news-content{
			width: 100%-23.96%;
			padding-right: 10px;
			span{
				font-size: 13px;
			}
			h4{
				font-size: 15px;
				color: $dark-blue;
			}
		}
	}
}
.custom-page{
	padding: 35px 0;
	.two-onethird{
		@include two-oneThird(31.671%, 5%);	
	}
	.one-twothird{
		@include one-twoThird(31.671%, 5%);	
	}
	.col-2{
		@include col-2(5%);
		margin-bottom: 0;
	}
	.col-3{
		@include col-3(5%);
		margin-bottom: 0;
	}
	.col-4{
		@include col-4(5%);
		margin-bottom: 0;
	}
	h1{
		font-size: 28px;
		color: $blue;
	}
	h2{
		color: $blue;
		font-size: 18px;
		margin-bottom: 10px;
	}
}
h2{
	&.button{
		position: relative;
		cursor: pointer;
		padding: 8px;
		-webkit-border-radius: 3px;
		        border-radius: 3px;
		background-color: $light-bg;
		@include transition(.3);
		&:after{
			position: absolute;
			content: "\f055";
			font-family: FontAwesome;
			color: $blue;
			font-size: 25.7px;
			right: 12px;
			top: 7px;
			line-height: 0.9;
			@include transition(1);
		}
		&.show{
			background-color: darken($light-bg, 10%);
			&:after{
				@include transform(225);
			}
			&:hover{
				background-color: darken($light-bg, 10%);
			}
		}
		&:hover{
			background-color: darken($light-bg, 5%);
		}
	}
}
.accordian{
	padding: 30px 0;
	float: left;
	width: 100%;
	.col-2{
		margin-bottom: 0%;
	}
}
.accordian-content{
	display: none;
	margin-bottom: 5%;
	float: left;
	width: 100%;
}
.single-padding{
	padding: 30px;
}
.single-page{
	padding: 35px 0;
	@include two-oneThird(34%, 0);
	h1{
		font-size: 28px;
		color: $blue;
	}
	.page-menu{
		padding-left: 20px;
		margin: 0;
		li{
			margin-bottom: 19px;
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}
	.one-third{
		padding-left: 2.5%;
		ul{
			list-style: none;
			padding-left: inherit;
			a{
				h4{
					color: $dark-blue;
				}
			}
		}
	}
	.news{
		border-top: 1px solid $border;
		border-right: 1px solid $border;
		border-bottom: 1px solid $border;
		li{
			@include news(80px);
		}
		.news-image{
			width: 23.96%;
		}
		.news-content{
			width: 100%-23.96%;
			padding-right: 10px;
			span{
				font-size: 13px;
			}
			h4{
				font-size: 15px;
				color: $dark-blue;
			}
		}
	}
}
h5{
	font-size: 23px;
	color: $grey;
	text-transform: uppercase;
}
.related-events{
	background-color: $light-bg;
}
.bg-shadow{
	background-color: white;
	@include transition (.3);
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: 0 0 6px #ccc;
	   -moz-box-shadow: 0 0 6px #ccc;
	        box-shadow: 0 0 6px #ccc;
}

.single-title{
	list-style: none;
	margin: 45px 0 0;
	padding: 0 0 0 110px;
	min-height: 95px;
	float: left;
	width: 100%;
	-webkit-background-size: 95px;
	     -o-background-size: 95px;
	        background-size: 95px;
	background-repeat: no-repeat;
	.image{
		width: 110px;
		display: block;
		float: left;
		margin-right: 20px;
		height: 100%;
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    			filter: grayscale(100%);
		-webkit-background-size: 100%;
		     -o-background-size: 100%;
		        background-size: 100%;
		background-repeat: no-repeat;
	    background-position: 0;
	}
	li{
		float: left;
		width: 100%;
		h6{
			float: left;
			width: auto;
			a{
				color: inherit;
			}
			&:hover{
				a{
					text-decoration: none;
					color: $grey;
				}
			}
		}
	}
}
h6{
	font-size: 19px;
	color: $grey;
}
.rect-bg{
	position: relative;
	z-index: 1;
	&:before{
		content: "";
		display: block;
		position: absolute;
		left: -81px;
		z-index: -1;
		top: -108px;
		width: 100%;
		height: 100%;
		background-image: url("images/rectangle.png");
		background-repeat: no-repeat;
		background-position: 0 0;
	}
}
.tags{
	list-style: none;
	margin: 0;
	
	border-top: 1px solid $border;
	border-bottom: 1px solid $border;
	float: left;
	width: 100%;
	li{
		float: left;
		width: (100%-8)/5;
		margin-right: 2%;
		a{
			color: inherit;
			
		}
		&:last-of-type{
			margin-right: 0;
		}
		div{
			&:first-of-type{
				float: left;
				width: 100%;
				margin-bottom: 8px;
			}
			&:last-of-type{
				float: left;
				width: auto;
				font-size: 14px;
				background-color: $blue;
				-webkit-border-radius: 3px;
				        border-radius: 3px;
				    color: white;
				    padding: 4px 10px;
				    @include transition(.3);
				    &:hover{
				    	background-color: lighten($blue, 10%);
				    	a{
				    		text-decoration: none;
				    	}
				    }
			}
		}
	}
}
.contact-title{
	font-size: 19px;
	font-weight: bold;
}
.event-contacts{
	list-style: none;
	margin-right: 0;
	padding: 0 50% 0 0;
	background-repeat: no-repeat;
	background-position: 100% 100%;
	li{
		float: left;
		width: 100%;
		&:nth-of-type(2){
			a{
				color: $dark-grey;
			}
		}
	}
	.fa, p{
		float: left;
	}
	.fa{
		width: 30px;
		font-size: 15px;
		line-height: 1.6;
		color: $light-blue;
	}
	a{
		color: $blue;
		font-weight: bold;
	}
}

.event-details{
	margin: 0 0 50px;
	padding-left: 25px!important;
	padding-top: 30px;
	li{
		margin-bottom: 10px;
		position: relative;
		&:before{
			position: absolute;
			left: -25px;
			color: $light-blue;
			top: 5px;
			width: 25px;
			font-family: FontAwesome;
			height: 25px;
			display: block;
			font-size: 14px;
		}
		&.day{
			&:before{
				content: "\f073";
			}
		}
		&.time{
			&:before{
				content: "\f017";	
			}
		}
		&.location{
			&:before{
				content: "\f124";
			}
		}
		&.closes{
			&:before{
				content: "\f256";
			}
		}
		&.cost{
			&:before{
				content: "\f155";
			}
			div:last-of-type{
				font-weight: normal;
			}
		}
		div{
			&:first-of-type{
				font-size: 14px;
			}
			&:last-of-type{
				font-weight: bold;
				color: $blue;
				font-size: 18px;
			}
			span{
				font-weight: normal;
			}
			a{
				color: inherit;
				@include transition(.3);
				&:hover{
					text-decoration: none;
					color: lighten($blue, 10%);
				}
			}
		}
	}
}
.post{
	&:hover{
		-webkit-box-shadow: 1px 1px 30px #ccc;
		        box-shadow: 1px 1px 30px #ccc;
		&, *{
			text-decoration: none;	
		}
	}
}
.post-image{
	float: left;
	width: auto;
	margin-right: 30px;
	margin-bottom: 30px;
	img{
		float: left;
	}
}
.asso-page{
	.col-3{
		padding: 25px;
		text-align: center;
		&:hover{
			text-decoration: none;
		}
		button{
			background-color: inherit;
			h3{
				margin-bottom: 0;
			}
		}
	}
}
.asso-image{
	width: 130px;
	height: 130px;
	margin: auto;
	margin-bottom: 25px;
	-webkit-border-radius: 100%;
	        border-radius: 100%;
	background-repeat: no-repeat;
	background-position: 0;
	border: 2px solid rgb(243, 244, 245);
	-webkit-background-size: 110px;
	     -o-background-size: 110px;
	        background-size: 110px;
	background-position: center;
}

.schools{
	position: relative;
	.section-2-link{
		position: absolute;
		left: 0;
		bottom: -59px;
		background-color: white;
	}
	h4{
		background-color: white;
	}
	&:hover{
		.school-content{
			-webkit-transform: translate3d(0, -59px, 0);
			   -moz-transform: translate3d(0, -59px, 0);
			    -ms-transform: translate3d(0, -59px, 0);
			     -o-transform: translate3d(0, -59px, 0);
			        transform: translate3d(0, -59px, 0);
		    padding-top: 20px;
		    border-top: 1px dotted #ccc;
		    margin-bottom: -20px;
		}
	}
}
.school-content{
	@include transition(.3);
	background-color: white;
}
//This file link includes resonsive style and it MUST always stays at the bottom of this file. If you need to type code, please type above to this link. Don't type below of responsive file link.
@import 'responsive';

